boto3==1.34.69
botocore==1.34.69
catboost==1.2.7
fastapi==0.115.12
fire==0.7.0
Flask_AppBuilder==4.4.1
numpy==2.2.6
pandas==2.2.3
pydantic==2.11.5
python-dotenv==1.1.0
Requests==2.32.3
s3fs==2024.6.1
s3fs==0.4.2
streamlit==1.37.1
streamlit==1.45.1
uvicorn==0.34.2
xmltodict==0.14.2
